
.pltitle{
    margin: 20px;
   
}
.filtercontainer{
    display: flex;
    justify-content: space-between;
}
.filter{
    margin: 20px;
}
.FilterText{
    font-size: 20px;
    font-weight: 600;
    margin-right: 20px;
}
select{
    padding: 8px;
    margin-right: 20px;
}