.slider-container{
  max-width: 100vw;
    
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  color: aliceblue;
   position: relative;
   overflow: hidden!important;
 
   scroll-behavior: unset;
  
}
.slider-container::-webkit-scrollbar{
    display: none;

}
.Arrow-left{
    height: 50px;
    width: 50px;
    background-color: rgb(252, 232, 232);
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:0;
    bottom: 0;
    margin: auto;
    left: 0;
    cursor: pointer;
    color: black;
    z-index: 2;
    opacity: 0.7;
    
}
.Arrow-right{
    height: 50px;
    width: 50px;
    background-color: rgb(252, 232, 232);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    color: black;
    opacity: 0.7;
    z-index: 999;
    
}
.slider-wrapper{
   
    width: 100%;
    height: 100vh;
   
    display: flex;
    transition: all 1.5s ease;

}
.slide{
    position: relative;
    
   width: 100%;
    height: 100%;
display: flex;
align-items: center;



}
.img{
    overflow: hidden;
    margin-top: 20px;
 

flex: 1;

z-index: -1;
}
img{
  overflow: hidden;
   
   width: 100vw;
   background-clip: border-box;
    height: 100%;
    object-fit: cover;
}
.info{
position: absolute;

right: 0;
padding: 50px;
color: aliceblue;


}
.desc{
   
    margin: 50px 0px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 3px;
}
.btn{
    padding: 10px;
    font-size: 20px;
    background-color:azure;
    cursor: pointer;
    font-weight: 700;
    border-radius: 10px;
}